# Python
__pycache__/
*.py[codz]
*.pyo
*.pyd

# Virtual environments
.env
.venv
venv/
.python-version
.sscvenv/

# Logs & outputs
logs/
data/
outputs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Qt / PyInstaller
build/
dist/

# config files
.pyqt-preview.toml
configs/